<div class="container">
  <h1>
  Facture n°<%= @invoice.invoice_number %> <small>dans le dossier <%= link_to @invoice.matter.name, matter_path(@invoice.matter) %> </small>
  <%= link_to 'Modifier la facture', edit_invoice_path(@invoice), :class => "btn btn-info pull-right" %>
</h1>
<hr>
<p class="lead">Date d'émission : <%= @invoice.invoice_date %>
<br>Date limite de paiement : <%= @invoice.invoice_duedate %></p>
<hr>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-right">Prestations incluses</h4>
        <hr>
        




<hr>
</div>
</div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-right">Autres prestations du dossier</h4>
        <hr>
        

</div>
</div>
</div>
</div>

<%= link_to "Version pdf", invoice_path(format: 'pdf') %>



