<h1>Mise à jour du dossier <small>ouvert pour <i><%= @matter.client.first_name %> <%= @matter.client.last_name %></i></small></h1>
<div class="authform">

<%= render 'form' %>

<%= link_to 'Show', matter_path(@matter) %> |
<%= link_to 'Back', matters_path %>
